{% extends "base.html" %}
{% set active_page = "mail/inbox" %}

{% block content %}
<div class="mail-wrapper">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Sort
        <span class="caret"></span></button>
    <a  class="btn btn-primary" type="button" href="inbox/compose">Compose</a >
    <div class="mail-scroll">
        <div class="dropdown">
        
            <ul class="dropdown-menu">
              <li><a href="#">HTML</a></li>
            </ul>
          </div>
        <table class="table table-hover table-responsive-md table-responsive-sm mail">
            <thead>
                <tr class="invisible">
                    <th width="2%"></th>
                    <th width="20%"></th>
                    <th width="70%"></th>
                    <th width="8%"></th>
                </tr>
            </thead>
            <tbody>
            {% for inbox in inbox_list %}
            <tr onClick="toInboxMessage({{inbox.id}})"
                 class="{{'unread' if not inbox.isread }}">
                <td><input type="checkbox"></td>
                <td>{{ inbox.name }} </td>
                <td>
                   <span>
                    <b>{{ inbox.subject }} :</b> 
                    {{ inbox.p_content }}
                   </span>  
                </td>
                <td>{{ inbox.date  }}
           
                </td>
                
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock %}