{% extends "client/inbox/inbox.html" %}

{% block content %}

<div class="message-container">
    <h2>{% block messagetitle %} Subject: {% endblock %} {{ message_data.subject }}
        <a class="btn btn-dark float-right" href="reply">
            <i class="fa fa-reply-all" aria-hidden="true" style="color: white;">
            </i>
        </a>
    </h2> 
    {% block reply %}
    
    {% endblock %}
    
    <!-- {% block spnreply %} {% endblock %} -->
    <div class="message-content">
        {% for thread in message_data.threads %}
        <div class="row content-header mt-5">
            <div class="col-lg-1 col-md-1 col-12">
                {{ thread.src }}
                <img src="{{ thread.img_src }}" alt="Italian Trulli">
            </div>
            <div class="col-lg-11 col-md-11 col-12">
               <div>From: <b> {{ thread.name }}</b>
                <span class="email-sender"> {{ thread.email }} </span>
                <span class="float-right">{{ thread.date }}</span>
            </div> 
             <div>
                <span>
                    To:  
                    {% for email in thread.email_to %}
                      <b> {{ email.name }}</b>
                        <span class="email-sender">{{ email.email }} </span>
                    {% endfor %}
                </span>
             </div>
             <div class="mt-2"><small>to me: {{ current_user.first_name }}</small> </div> 
            </div>
        </div>
        <div class="row">
            <div class="offset-md-1 col-lg-11 col-md-11 col-12">
                {{ thread.content | safe }}
            </div>
        </div>
      
    {% endfor %}
    </div>

</div>
{% endblock %}