{% extends "client/inbox/inbox.html" %}

<!-- ovverider content index -->
{% block content %}
<!-- <button onClick="goToInbox({{id}})">Back</button> -->


<div class="message-container">
    
    <h2>{{ message_data.subject }}
        <a class="btn btn-dark float-right" href="reply">
            <i class="fa fa-reply-all" aria-hidden="true" style="color: white;">
            </i>
        </a>
    </h2> 
   
    {% for thread in message_data.threads %}
        <div class="row content-header" class="mt-3">
            <div class="col-lg-1 col-md-1 col-12">
                {{ thread.src }}
                <img src="{{ thread.img_src }}" alt="Italian Trulli">
            </div>
            <div class="col-lg-11 col-md-11 col-12">
               <div><b> {{ thread.name }}</b>
                <span class="email-sender">{{ thread.email }} </span>
                <span class="float-right">{{ thread.date }}</span>
            </div> 
             <div><small>to me</small> </div> 
            </div>
        </div>
        <div class="row mt-2">
            <div class="offset-md-1 col-lg-11 col-md-11 col-12">
                {{ thread.content | safe }}
            </div>
        </div>
      
    {% endfor %}
</div>
{% endblock %}